.container {
  position: relative;
  height: 400px;
  width: 300px;
  overflow: hidden;
  border: solid 1px #0e0d0d;
  border-radius: 10px;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.container .content {
  position: absolute;
  z-index: 1;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 15px;
  justify-content: flex-end;
  opacity: 0;
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
  transition: opacity 0.3s ease-in-out;
}

.container:hover img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.container:hover .content{
    opacity: 1;
}
.content{
    color: #fff;
}

.content main{
    transform: translate3d(0,-6rem,0);
    opacity: 0;
}
.container:hover .content main{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}