@import "tailwindcss";

@theme {
  --color-primary: #007bff;
  --color-primary-background: var(--bg-color);
  --color-paper: var(--paper-color);
}

@layer components {
  .container {
    @apply max-w-full mx-auto;
  }
  .btn {
    @apply bg-primary py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px] cursor-pointer;
  }

  .heading {
    @apply text-[44px] leading-[54px] font-[700];
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full;
  }
}
@media only screen and (max-width: 768px) {
  .heading {
    @apply text-[26px] leading-[36px];
  }
}
